<div class="container">
  <div class="grid-half reverseColour">
    <div class="site-title">
      WeOWhat
    </div>
    <div class="we-o-what-img-signin">
      <%= image_tag asset_path("weowhat-200.png") %>
    </div>
    <div class="site-sub-title">Record who paid for what for events large or small
    </div>
  </div>
  <div class="grid-half">
    <div>
      <fieldset>
        <legend>Sign in</legend>
        <div>
          <%= button_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "button-full-width" %>
        </div>
        <br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "pure-form pure-form-aligned"}) do |f| %>
          <div class="input_group">
            <%= f.label :email %> <br>
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div  class="input_group">
            <%= f.label :password %> <br>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div>
              <label for="user_remember_me"> <%= f.check_box :remember_me %>
              </label> Remember me
            </div>
          <% end -%>
          <div>
            <%= f.submit "Sign in", class: "button-full-width" %>
          </div>
        <% end %>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <legend>Sign Up</legend>
        <div class="grid-container">
          <div class="full-width-button">
            <%= button_to "Sign Up", new_user_registration_path, class: "button-full-width", method: :get %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>

