<div id="layout"> 
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
  </a>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <header>
    <% if user_signed_in? %>
      <%= current_user.email %>
      <br/>
      <%= link_to "Edit profile", edit_user_registration_path %>
      <br/>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
    <h1>    WeOWhat</h1>
    <h2>For all events, large or small, record who paid and what for</h2>
    <hr>
  </header>
  <div ng-controller="EventController">
    <div class="list-of-events"></div>
    <div id="main">

      <div ng-show="selectedEvent">
        <div class="event-details pure-g">
          <div class="show-selected-event pure-u-1 pure-u-sm-1 pure-u-md-1-2 pure-u-lg-1-3"></div>
          <div class="list-of-members pure-u-1 pure-u-sm-1 pure-u-md-1-2 pure-u-lg-1-3"></div> 
          <div class="payments-chart pure-u-1 pure-u-sm-1 pure-u-md-1-2 pure-u-lg-1-3"></div>
          <div class="list-of-payments pure-u-1 pure-u-sm-1 pure-u-md-1-2 pure-u-lg-1"></div>
        </div>
      </div>
      <div ng-hide="selectedEvent">
        <form name="newEventForm" class="pure-form pure-form-aligned" role="form" novalidate>
          <fieldset>
            <div class="pure-control-group">
              <label for="name">Event Name</label>
              <input id="name" type="text" placeholder="Event name" ng-model="newEvent.name">
            </div>
            <div class="pure-control-group">
              <label for="description">Description</label>
              <input id="description" type="text" placeholder="Description" ng-model="newEvent.description">
            </div>
            <div class="pure-control-group">
              <label for="location">Location</label>
              <input id="location" type="text" placeholder="Description" ng-model="newEvent.location">
            </div>
            <div class="pure-control-group">
              <label for="possible_event_users">Event Members</label>
              <div id="possible_event_users">
                <div     
                  multi-select
                  input-model="possible_event_users"
                  button-label="name"
                  item-label="name email"
                  tick-property="ticked">
                </div>
              </div>
            </div>
            <div class="pure-control-group">
              <label for="start_time">Start Date</label>
              <input id="start_time" ng-model="newEvent.start_time" ui-date>
            </div>
            <div class="pure-control-group">
              <label for="end_time"> End Date</label>
              <input id="end_time" ng-model="newEvent.end_time" 
              "dd-mm-yyyy" ui-date>
            </div>
            <div class="pure-controls">
                <label for="cb" class="pure-checkbox">
                    <input id="cb" type="checkbox" ng-model="newEvent.active" ng-init="checked"> Active
                </label>
            </div>

            <a role="button" class="pure-button-primary pure-button" ng-click="ok()">Submit</a>
          </fieldset>
        </form>


      </div>
    </div>
  </div>
</div>