<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Purpose:</b>
  <%= @payment.purpose.purpose_text %>
</p>

<p>
  <b>Event:</b>
  <%= @payment.event.name %>
</p>

<p>
  <b>Currency:</b>
  <%= @payment.currency.iso_code %>
</p>

<p>
  <b>Created:</b>
  <%= @payment.created %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
