<%= form_for(@purpose) do |f| %>
  <% if @purpose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purpose.errors.count, "error") %> prohibited this purpose from being saved:</h2>

      <ul>
      <% @purpose.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :purpose_text %><br />
    <%= f.text_field :purpose_text %>
  </div>
  <div class="field">
    <%= f.label :no_times_used %><br />
    <%= f.number_field :no_times_used %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
