<h1>Listing purposes</h1>

<table>
  <tr>
    <th>Purpose text</th>
    <th>No times used</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purposes.each do |purpose| %>
  <tr>
    <td><%= purpose.purpose_text %></td>
    <td><%= purpose.no_times_used %></td>
    <td><%= link_to 'Show', purpose %></td>
    <td><%= link_to 'Edit', edit_purpose_path(purpose) %></td>
    <td><%= link_to 'Destroy', purpose, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purpose', new_purpose_path %>
