<p id="notice"><%= notice %></p>

<p>
  <b>Payment:</b>
  <%= @debtor.payment_id %>
</p>

<p>
  <b>User:</b>
  <%= @debtor.user_id %>
</p>

<p>
  <b>Weighting:</b>
  <%= @debtor.weighting %>
</p>


<%= link_to 'Edit', edit_debtor_path(@debtor) %> |
<%= link_to 'Back', debtors_path %>
