<h1>Listing payers</h1>

<table>
  <tr>
    <th>Payment</th>
    <th>User</th>
    <th>Weighting</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payers.each do |payer| %>
  <tr>
    <td><%= payer.payment_id %></td>
    <td><%= payer.user_id %></td>
    <td><%= payer.weighting %></td>
    <td><%= link_to 'Show', payer %></td>
    <td><%= link_to 'Edit', edit_payer_path(payer) %></td>
    <td><%= link_to 'Destroy', payer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payer', new_payer_path %>
