<p id="notice"><%= notice %></p>

<p>
  <b>Payment:</b>
  <%= @recipient.payment_id %>
</p>

<p>
  <b>User:</b>
  <%= @recipient.user_id %>
</p>

<p>
  <b>Weighting:</b>
  <%= @recipient.weighting %>
</p>


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
